<main class="layout-container">
    <div style="text-align: center;">
        <img src="assets/img/login.svg" alt="" class="login__image"/>
    </div>
    <h1 class="login__title">Hello!</h1>
    <p class="login__subtitle">Best place to write life stories and share your journey experiences</p>
    
    <div class="d-flex flex-justify-center">
        <a 
            mat-raised-button 
            color="primary" 
            routerLink="./ingresar"
            style="margin-right: 1rem;">Iniciar Sessión</a>
        
        <a 
            mat-raised-button 
            color="accent" 
            routerLink="./registro"
            style="margin-left: 1rem;">Registro</a>
    </div>
</main>